<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>RavenCrown - Login</title>
</head>
<body>

    <form action="#" th:action="@{/login}" th:object="${userModel}" method="post">
        <label for="txtEmail">Email</label>
        <input type="email" id="txtEmail" class="txtEmail" th:field="*{userEmail}" required/>
        <br/>
        <label for="txtPass">Senha</label>
        <input type="password" id="txtPass" class="txtPass" th:field="*{userPass}" required/>
        <br/>
        <input type="submit" value="submit">Enviar</input>
    </form>

</body>
</html>