.nav-item {
    font-size: 14pt;
}

#sidebar {
  height: 100%;
  width: 160px;
  top: 0;
  bottom: 0;
  left: 0;
  background-color: #111;
  padding-top: 20px;       
}

#input {
  border-bottom: none;
  height: 6%;
}

.container {
  border-radius: 2%;
}

