#btnAceitar {
    color: white;
    font-size: 16px;
    height: 40px;
    width: 91px;
}

#btnEditar {
    font-size: 16px;
    color: white;
    height: 40px;
    width: 91px;
}

#btnRecusar {
    font-size: 16px;
    color: white;
    height: 40px;
    width: 91px;
}